<form  [formGroup]="projectForm" style="font-family:inherit;height:200px ;width:400px ; " >

    <div>

            <mat-icon mat-dialog-close style="font-size: 27px;font-weight: bold;margin-left: 370px;">close</mat-icon>

    </div>
    <br>
               
    <mat-form-field id="namecolumn" class="example-full-width" style="width: 100%" appearance="fill">
        <mat-label style="font-size: 20px;font-weight:500;">Project Name</mat-label>
        <input type="text" matInput formControlName="projectName" style="font-size: 20px;font-weight:500;
        " maxlength="40" placeholder="give the name for this Column...">
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button (click)="updateProject()" color="primary" style="margin-left:0px; height: 40px;"[disabled]="this.projectForm.controls['projectName'].invalid" mat-dialog-close>Update and Close</button>
</form>
