<mat-sidenav-container style="height: 91%; width: 100%;">

    <mat-sidenav-content style="display:flex ;">

       
            <app-projects-dashboard></app-projects-dashboard>
       

        <!-- <div style="width: 200px; height: 200px; margin-top:4.5% ;margin-left:10%;">
            <a mat-flat-button (click)="CreateProject()" style="margin-left:5px;" target="_blank">

                <h2 style="color:#897622;">
                    <mat-icon style="margin-left:-70px;">create_new_folder</mat-icon>&nbsp;&nbsp;Create new board</h2>
                <p>Visually manage and organize your work.

            </a><br><br><br><br>
            <div> -->
           
                <mat-card style="width: 330px; height:160px; margin-top:2% ;margin-left:8%;">
                    <a mat-flat-button (click)="CreateProject()" style="margin-left:5px;" target="_blank">

                        <h2 style="color:#897622;">
                            <mat-icon style="margin-left:-120px;">create_new_folder</mat-icon>&nbsp;&nbsp;Create new board</h2>
                        <h3 style="margin-left:-20px;">Visually manage and organize your work.</h3>
        
                    </a>
                   
                </mat-card>
                <div style="width: 200px; height: 200px; margin-top:15% ;margin-left:-22.2%">
                <img src="https://th.bing.com/th/id/OIP.vf4JY7r6H8K4SmVgNXk13AHaE7?pid=ImgDet&rs=1">
               </div>
            
            <br><br>
            <!-- <a mat-flat-button (click)="CreateProject()" style="margin-left:5px;" target="_blank"> -->
            <!-- <div style="border: 5px solid lightskyblue; width: 150px; height: 125px; "> -->
            <!-- <h3 style="color:lightblue;">Create new playlist</h3> -->
            <!-- </div> -->
            <!-- </a> -->

           
     
    </mat-sidenav-content>
</mat-sidenav-container>
