<!-- <div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body p-2">
                
                <div class="text-center">
                    <h2>Forgot Password</h2>
                </div>
                <p style="color: lightslategray;">Please enter your registered email to get your password</p>
                <form [formGroup]="passwordResetForm">
                    <div class="form-group">
                        <input type="email" id="email" placeholder="Email Address" class="form-control" formControlName="userEmail" />
                    </div><br>
                    <input type="submit" class="btn btn-primary w-100" value="Reset Password Link"  [disabled]="!passwordResetForm.valid" (click)="resetPassword()">
                </form>
            </div>
            <div class="card-footer text-right">
                <small>Ohh I remember <a routerLink="../login">Back to Login</a></small>
            </div>
        </div>
    </div>
</div> -->


<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        
        <label style="color: azure;margin-left: 1%;"><b>Kanban Board</b></label>
        <label (click)="home()" style="color: azure;margin-left: 82%;font-size: large;"><b>Home</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <label (click)="login()"  style="color: rgb(36, 30, 30);font-size: large;"><b>Login</b></label> -->
    </mat-toolbar-row>
</mat-toolbar>
<body style="height:91.5%;width:100% ;margin-top:-550px; background-image: url(https://thumbs.dreamstime.com/z/scrum-kanban-board-list-work-task-management-kanban-boa[…]ask-management-iteration-scrum-agile-concept-202603353.jpg); background-repeat: no-repeat;  
background-size:cover;">

    <div style="margin-top: 550px; ">
    <mat-card class="content" >
           
                <h2 style="text-align:center ;">
                   <b>Password will be sent to your registered email</b>
                </h2>
           
        
        <mat-card-content>


            <form  name="passwordResetForm" [formGroup]="passwordResetForm" >
                
                    
                        <input type="email" id="email" placeholder="Email Address" class="form-control" formControlName="userEmail" />
                        <mat-error *ngIf="passwordResetForm.controls['userEmail'].hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                          <mat-error *ngIf="passwordResetForm.controls['userEmail'].hasError('pattern')">
                             <strong>Invalid</strong> Email 
                          </mat-error>
                        <br>
                    <input type="submit"  class="btn btn w-100" value="Send OTP" style="font-weight: 500;"  [disabled]="!passwordResetForm.valid" (click)="resetPassword()"><br><br>
                    
                    <div class="card-footer text-right">
                        <small style="font-size: 14px;">Ohh I remember <a routerLink="../login">Back to Login</a></small>
                    </div>

               
                
                   
               

            </form>

        </mat-card-content>
    </mat-card>
</div>
</body>