<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        
    
  
        <label style="color: azure;margin-left: 1%;"><b>Kanban Board</b></label>
        <label (click)="home()" style="color: azure;margin-left: 82%;font-size: large;"><b>Home</b></label>
        <!-- <label (click)="login()"  style="color: rgb(36, 30, 30);font-size: large;"><b>Login</b></label> -->
    </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-card>
    <mat-card-header>

        <mat-card-title style="margin-left:-10%">Enter new password</mat-card-title>

    </mat-card-header>
<mat-card-content>


    <form  name="resetForm" [formGroup]="resetForm">
       
        <p>
            <mat-form-field class="full-width" appearance ="outline" style="width:90%">
                <input type="password" matInput required placeholder="Old Password" formControlName="oldPassword">
                <div *ngIf="resetForm.controls['oldPassword'].hasError('required')"></div>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="full-width" appearance ="outline" style="width:90%">
                <input type="password" matInput required placeholder="New Password" formControlName="resetPassword">
                <div *ngIf="resetForm.controls['resetPassword'].hasError('required')"></div>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="full-width" appearance ="outline" style="width:90%">
                <input type="password" matInput required placeholder="confirm Password " formControlName="confirmPassword">
                <div *ngIf="resetForm.controls['confirmPassword'].hasError('required')"></div>
            </mat-form-field>
        </p><br>

    
        <button type="submit" mat-flat-button color="primary" [disabled]="!(resetForm.value.resetPassword==resetForm.value.confirmPassword ) || resetForm.invalid" (click)="submit()">Change</button>
    </form>

</mat-card-content>
</mat-card> -->
<body style="height:91.5%;width:100% ;margin-top:0px; background-image: url(https://thumbs.dreamstime.com/z/scrum-kanban-board-list-work-task-management-kanban-boa[…]ask-management-iteration-scrum-agile-concept-202603353.jpg);
background-repeat: no-repeat;  
background-size:cover">
    <mat-card class="content">
        
<mat-card-content>

<form  name="passwordResetForm" [formGroup]="setNewPasswordForm">
        <h2 style="font-size: 20px;"><b>Enter New Password</b></h2>
        <input type="password" id="newPassword" placeholder="please enter new password..." class="form-control" style="height: 50px;font-size: 20px;" formControlName="newPassword" />
        <mat-error *ngIf="setNewPasswordForm.controls['newPassword'].invalid"style="font-size:15px ;">
            <b>*Password length must be greater than 6</b>
        </mat-error>
        <br>
        <h2 style="font-size: 20px;"><b>Confirm Password</b></h2>
        <input type="password" id="confPassword" placeholder="please enter password again..." class="form-control" style="height: 50px;font-size: 20px;" formControlName="confPassword" />
        <mat-error *ngIf="!(setNewPasswordForm.value.newPassword==setNewPasswordForm.value.confPassword)" style="font-size:15px ;">
           <b>*Passwords are not matching</b> 
          </mat-error>

        <br>
        <br>
        
        <input type="submit" class="btn btn w-100" value="Submit" style="height: 50px;font-size: 20px;font-weight: 500;" [disabled]="!(setNewPasswordForm.value.newPassword==setNewPasswordForm.value.confPassword) || setNewPasswordForm.invalid" (click)="resetPassword()"><br><br>
        </form>

</mat-card-content>
</mat-card>
</body>
