<mat-card>
    <mat-card-header>
        <mat-icon mat-dialog-close style="font-size: 27px;font-weight: bold;margin-top: -15px;">close</mat-icon>
        <br>
        <mat-card-title style="text-align: center ;width: 300px;margin-top: 15px;">Enter new password</mat-card-title>

    </mat-card-header>
<mat-card-content>


    <form  name="resetForm" [formGroup]="resetForm" >
       
        <p>
            <mat-form-field class="full-width" appearance ="outline" style="width:100%">
                <mat-label>Old Password</mat-label>
                <input type="password" matInput required placeholder="Old Password" formControlName="oldPassword">
                <!-- <div *ngIf="resetForm.controls['oldPassword'].hasError('required')"></div> -->
                  <mat-error *ngIf="resetForm.controls['oldPassword'].hasError('required')">
                    Old Password is <strong>required</strong>
                  </mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="full-width" appearance ="outline" style="width:100%">
                <mat-label>New Password</mat-label>
                <input type="password" matInput required placeholder="New Password" formControlName="resetPassword">
                <!-- <div *ngIf="resetForm.controls['resetPassword'].hasError('required')"></div> -->
                <mat-error *ngIf="resetForm.controls['resetPassword'].hasError('required')">
                    New Password is <strong>required</strong>
                  </mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="full-width" appearance ="outline" style="width:100%">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput required placeholder="Confirm Password " formControlName="confirmPassword">
                <!-- <div *ngIf="resetForm.controls['confirmPassword'].hasError('required')"></div> -->
                <!-- <mat-error *ngIf="resetForm.controls['confirmPassword'].hasError('required')">
                    Confirm Password is <strong>required</strong>
                  </mat-error> -->
                  <mat-error *ngIf="!(resetForm.value.resetPassword==resetForm.value.confirmPassword )">
                    <strong>Passwords</strong> are not matching
                  </mat-error>
            </mat-form-field>
        </p><br>

    
        <button type="submit" mat-flat-button color="primary" [disabled]="!(resetForm.value.resetPassword==resetForm.value.confirmPassword ) || resetForm.invalid" (click)="submit()">Change</button>
    </form>

</mat-card-content>
</mat-card>

