 <!-- overflow: auto;white-space: nowrap; -->
 <!-- <div  style="margin-top: 50px; width: 100%; " >
  
  <div class="example-button-container"> 
    <button mat-fab style="background: transparent;color:black" (click)="OpenColumnDialog()">
      <mat-icon style="font-size:33px;margin-top: -6px; height:30px ;width:35px;">add</mat-icon>
    </button>
  </div> 
  <br>
<br>     
<div cdkDropListGroup 
cdkDropList
[cdkDropListData]="allColumns"
cdkDropListOrientation="horizontal"
(cdkDropListDropped)="dropGroup($event)" style="text-align:center;">

<div style="display:inline;" *ngFor="let x of allColumns;let j=index;">
  <div class="example-container" cdkDrag> 
    <h5 class="head-title">{{x.columnName}} <span *ngIf="x.taskList.length > 0"> - {{x.taskList.length}}</span></h5>     
    <mat-card style="background:transparent;" >
      <div style="margin-top: -10px;">
        <button mat-icon-button style="margin-left: 220px;" *ngIf="x.columnName==='To do' || x.columnName==='Leads' " (click)="openDialog(x.columnName)">
          <mat-icon>add</mat-icon>
        </button>
        <br *ngIf="x.columnName!='To do' || x.columnName==='Leads'">
        <br *ngIf="x.columnName!='To do' || x.columnName==='Leads'">  
      </div>
      <div
      cdkDropList
      id="{{x.columnName}}"
      [cdkDropListData]="x.taskList"
      class="example-list"
      (cdkDropListDropped)="dropItem($event)"
      >

       <div *ngFor="let item of x.taskList; let i=index;" cdkDrag>   
      <div class="example-box"  *ngIf="item.cardType=='Default'">
        <div *ngIf="item.priority=='High'" style="display:inline-block;position: absolute; margin-top: -50px;
        margin-left: -5px;height: 26px;">
          <mat-icon style="color: red;font-size: 20px;">arrow_upward</mat-icon>
        </div>
        <div *ngIf="item.priority=='Normal'" style="display:inline-block;position: absolute; margin-top: -50px;
        margin-left: -5px;height: 26px;">
          <mat-icon style="color:black;font-size: 20px;">fiber_manual_record</mat-icon>
        </div>
        <div *ngIf="item.priority=='Low'" style="display:inline-block;position: absolute; margin-top: -50px;
        margin-left: -5px;height: 26px;">
          <mat-icon style="color: green;font-size: 20px;">arrow_downward</mat-icon>
        </div>

         {{item.taskName}}

        <div class="box">
          <button mat-icon-button color="warn"  (click)="deleteTask(x.columnName,item.taskId)"><mat-icon>delete</mat-icon></button>
          <button mat-icon-button color="primary" *ngIf="x.columnName=='To do' || x.columnName=='Leads'" (click)="openDialog1(x.columnName,item.taskId)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="accent" *ngIf="x.columnName=='Done' || x.columnName=='Completed'"><mat-icon>check_circle</mat-icon></button>
        </div>
        <div style="position: absolute;margin-top: 75px; margin-left: 165px;">
          <mat-icon style="font-size: 20px;">person</mat-icon>
          <h3 style="position: absolute; margin-top:-31px;margin-left:24px ;">{{item.memberName}}</h3>
        </div>     
      </div>
      <div class="example-box1"  *ngIf="item.cardType === 'Urgent Work'">  
        <div *ngIf="item.priority=='High'" style="display:inline-block; margin-top: -50px;position: absolute;
        margin-left: -5px;height: 26px;">
          <mat-icon style="color: rgb(254, 174, 34);font-size: 20px;">arrow_upward</mat-icon>
        </div>
        <div *ngIf="item.priority=='Normal'" style="display:inline-block; margin-top: -50px;position: absolute;
        margin-left: -5px;height: 26px;">
          <mat-icon style="color:black;font-size: 20px;">fiber_manual_record</mat-icon>
        </div>
        <div *ngIf="item.priority=='Low'" style="display:inline-block; margin-top: -50px;position: absolute;
        margin-left: -5px;height: 26px;">
          <mat-icon style="color: rgb(37, 215, 37);font-size: 20px;">arrow_downward</mat-icon>
        </div>
        {{item.taskName}}
        <div class="box">
          <button mat-icon-button style="color:rgb(254, 174, 37) ;"  (click)="deleteTask(x.columnName,item.taskId)"><mat-icon>delete</mat-icon></button>
          <button mat-icon-button style="color: rgb(176, 211, 251);" *ngIf="x.columnName=='To do' || x.columnName=='Leads'" (click)="openDialog1(x.columnName,item.taskId)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="accent" *ngIf="x.columnName=='Done' || x.columnName=='Completed'"><mat-icon>check_circle</mat-icon></button>
        </div>
        <div style="position: absolute;margin-top: 75px; margin-left: 165px;" >
          <mat-icon style="font-size: 20px;">person</mat-icon>
           <h3 style="position: absolute; margin-top:-31px;margin-left:24px ;">{{item.memberName}}</h3>
        </div>
        </div>
    </div>
  </div>
  </mat-card>
  </div>
</div>
</div>  


 -->

<!-- </div> -->



<div  style="margin-top: 50px; width: auto;  margin-left: 25px;">
  <div class="example-button-container">
    <button mat-fab style="background: transparent;color:black" (click)="OpenColumnDialog()">
      <mat-icon style="font-size:33px;margin-top: -6px; height:30px ;width:35px;">add</mat-icon>
    </button>
  </div>
  <br>
<br>
<div cdkDropListGroup
cdkDropList
[cdkDropListData]="allColumns"
cdkDropListOrientation="horizontal"
(cdkDropListDropped)="dropGroup($event)" style=" text-align:center;width: auto;overflow: auto;
white-space: nowrap;height: 10%;height: fit-content;" >
<!-- width: auto;overflow: auto;
white-space: nowrap;height: 10%;height: fit-content; -->
<div style="display:inline" *ngFor="let x of allColumns;let j=index;">
  <div class="example-container" cdkDrag>
    <h5 class="head-title">{{x.columnName}}
      <span *ngIf="x.taskList.length > 0"> - {{x.taskList.length}}</span>
      <!--
      > -->
      <div style="display: inline;">
        <button  mat-icon-button  matTooltip="Delete"  style="display: grid;  margin-top:-40px;margin-left: 250px;">
        <mat-icon *ngIf="x.columnName !=='To do' && x.columnName !=='In Progress' && x.columnName !=='Done'
        && x.columnName !=='Leads'&& x.columnName !=='Done' && x.columnName !=='Completed'"
        [matMenuTriggerFor]="menu1" style="font-size: 22px;margin-top: -4px;margin-left: 0px;">more_vert</mat-icon>
      </button>
      </div>
      <!-- </button>  -->
    </h5>
    <mat-menu #menu1="matMenu">
      <button mat-menu-item (click)="onClickEdit(x)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteColumn(x.columnName)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>

    </mat-menu>
    <mat-card style="background:transparent;" >
      <div style="margin-top: -10px;">
        <button mat-icon-button style="margin-left: 220px;display: inline;" *ngIf="x.columnName==='To do' || x.columnName==='Leads' " (click)="openDialog(x.columnName)">
          <mat-icon>add</mat-icon>
        </button>
        <br  *ngIf="x.columnName!='To do' && x.columnName !=='Leads'">
        <br  *ngIf="x.columnName!='To do' && x.columnName !=='Leads'">
      </div>
      <div
      cdkDropList
      id="{{x.columnName}}"
      [cdkDropListData]="x.taskList"
      class="example-list"
      (cdkDropListDropped)="dropItem($event)"
      [cdkDropListEnterPredicate]="noReturnPredicate"
      >
       <div *ngFor="let item of x.taskList; let i=index;" cdkDrag >
      <div class="example-box"  *ngIf="item.cardType=='Default'">
        <div *ngIf="item.priority=='High'" style="display:inline-block;position: absolute; margin-top: -50px;
        margin-left: -5px;height: 26px;">
          <mat-icon style="color: rgb(255, 72, 0);font-size: 20px;">arrow_upward</mat-icon>
        </div>
        <div *ngIf="item.priority=='Normal'" style="display:inline-block;position: absolute; margin-top: -50px;
        margin-left: -5px;height: 26px;">
          <mat-icon style="color:black;font-size: 20px;">fiber_manual_record</mat-icon>
        </div>
        <div *ngIf="item.priority=='Low'" style="display:inline-block;position: absolute; margin-top: -50px;
        margin-left: -5px;height: 26px;">
          <mat-icon style="color: green;font-size: 20px;">arrow_downward</mat-icon>
        </div>
         {{item.taskName}}
        <div class="box">
          <button mat-icon-button style="color: rgb(255, 81, 0);"  (click)="deleteTask(x.columnName,item.taskId)"><mat-icon>delete</mat-icon></button>
          <button mat-icon-button style="color:black" *ngIf="x.columnName=='To do' || x.columnName=='Leads'" (click)="openDialog1(x.columnName,item.taskId)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button style="color: #0a9121;" *ngIf="x.columnName=='Done' || x.columnName=='Completed'"><mat-icon>check_circle</mat-icon></button>
        </div>
        <div style="position: absolute;margin-top: 75px; margin-left: 165px;">
          <mat-icon style="font-size: 20px;">person</mat-icon>
          <h3 style="position: absolute; margin-top:-31px;margin-left:24px;">{{item.memberName}}</h3>
        </div>
      </div>
      <div class="example-box1"  *ngIf="item.cardType === 'Urgent Work'">
        <div *ngIf="item.priority=='High'" style="display:inline-block; margin-top: -50px;position: absolute;
        margin-left: -5px;height: 26px;">
          <mat-icon style="color: rgb(255, 217, 0);font-size: 20px;">arrow_upward</mat-icon>
        </div>
        <div *ngIf="item.priority=='Normal'" style="display:inline-block; margin-top: -50px;position: absolute;
        margin-left: -5px;height: 26px;">
          <mat-icon style="color:black;font-size: 20px;">fiber_manual_record</mat-icon>
        </div>
        <div *ngIf="item.priority=='Low'" style="display:inline-block; margin-top: -50px;position: absolute;
        margin-left: -5px;height: 26px;">
          <mat-icon style="color: rgb(37, 215, 37);font-size: 20px;">arrow_downward</mat-icon>
        </div>
        {{item.taskName}}
        <div class="box">
          <button mat-icon-button style="color:rgb(255, 217, 0) ;"  (click)="deleteTask(x.columnName,item.taskId)"><mat-icon>delete</mat-icon></button>
          <button mat-icon-button style="color: rgb(176, 211, 251);" *ngIf="x.columnName=='To do' || x.columnName=='Leads'" (click)="openDialog1(x.columnName,item.taskId)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button style="color: #0fe600;" *ngIf="x.columnName=='Done' || x.columnName=='Completed'"><mat-icon>check_circle</mat-icon></button>
        </div>
        <div style="position: absolute;margin-top: 75px; margin-left: 165px;" >
          <mat-icon style="font-size: 20px;">person</mat-icon>
           <h3 style="position: absolute; margin-top:-31px;margin-left:24px ;">{{item.memberName}}</h3>
        </div>
        </div>
    </div>
  </div>
  </mat-card>
  </div>
</div>
</div>
</div>